body{
  max-width: 800px;
  margin: auto;
  background-color: #e5e5e5;
}

.content{
  background-color: #fff;
  padding: 15px;
}

/*Navbar*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li, .navbar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
`
.navbar li, .navbar a:hover {
  background-color: #111;
}

.navbar h1{
  color: #333;
}
/*Pilot Reports*/
.reports ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.reports li {
  float: left;
}

.reports li, .reports a{
  display: block;
  color: #444444;
  text-align: left;
  padding: 5px 7px;
  text-decoration: none;
}

.reports li, .reports a:hover {
  background-color: #fff;
}

.reports h1{
  color: #333;
}

.input {
  display: flex;
}

.shadow{
  box-shadow:inset 0 -15px 5px -16px #000;
}

.shadow .content{
  position: relative; /* This protects the inner element from being blurred */
  background-color: #fff;
  padding: 20px;
}

.row{
  display: flex;
}

.left{
  width: 65%;
}

.right{
  width: 35%;
}

.results h1{
  font-size: 1em;
}

.url h1{
  font-size: 1.25em;
}
