body{
  background-color: #fff;
  font-family: "Courier New";
}

.content{
  max-width: 750px;
  margin: auto;
  background-color: #fff;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

/*Navbar*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a3f48;
}

.navbar li {
  float: left;
}

.navbar li, .navbar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
`
.navbar li, .navbar a:hover {
  background-color: #111;
}

.navbar h1{
  color: #333;
}
/*Pilot Reports*/
.reports ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.reports li {
  float: left;
}

.reports li, .reports a{
  display: block;
  color: #444444;
  text-align: left;
  padding: 5px 7px;
  text-decoration: none;
}

.reports li, .reports a:hover {
  background-color: #fff;
}

.reports h1{
  color: #333;
}

.input {
  display: flex;
  width: 300px;
}

.row{
  display: flex;
}

.left{
  width: 65%;
}

.right{
  width: 35%;
  float: right;
}

.results h1{
  font-size: 1em;
}

.url h1{
  font-size: 1.25em;
}

.details{
  margin: auto;
  width: 700px;
}

/*==================================================================
[ Ver5 ]*/
.table100.ver5 tbody tr:nth-child(even) {
  background-color: #e9faff;
}

.table101{
  width: 100%;
}

.table100.ver5 td {
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  position: relative;
}

.table100.ver5 th {
  font-family: "Courier New";
  font-size: 12px;
  color: #fff;
  line-height: 2.0;

  background-color: #002933;
}

.table100.ver5 .row100:hover td {
  color: #fe3e64;
}

.table100.ver5 .hov-column-ver5 {color: #fe3e64;}
.table100.ver5 .hov-column-ver5::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.table100.ver5 .hov-column-head-ver5 {
  background-color: #1a3f48 !important;
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover {
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid #fe3e64;
}

.table100 caption{
  text-transform: uppercase;
  font-weight: 800;
  color: #1a3f48;
}
