{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'assure/style.css' %}">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="{% url 'assure:index' %}">Home</a></li>
      <li><a href="">Link1</a></li>
      <li><a href="">Link2</a></li>
    </ul>
  </div>
  <div class="content">
    {% if latest_report %}
      <ul>
        <li>{{ latest_report.site }}</li>
        <li>{{ latest_report.current_rating }}</li>
        <li>{{ latest_report.site_json }}</li>
        <li>{{ latest_report.viewport_json }}</li>
      </ul>
    {% else %}
      <p>no pilot reports</p>
    {% endif %}
  </div>
</body>
</html>
